html{
    overflow:hidden;

}
.mostly-customized-scrollbar::-webkit-scrollbar {
    width: 2px;
    height: 8px;
    background-color: #aaa; /* or add it to the track */
  }

  /* Add a thumb */
  .mostly-customized-scrollbar::-webkit-scrollbar-thumb {
      background: #000;
  }